<section class="row">
  <button ng-click="toggle()">toggle</button>
  <h1 ng-if="test" class="net-fade">netanel</h1>
  <input type="text" ng-model="s"/>
  <table class="table" sort-table>
    <thead>
      <tr>
        <th order-by="'title'">Title</th>
        <th order-by="'text'">Text</th>
        <th></th>
      </tr>
    </thead>
    <tbody dir-paginate="post in home.posts | itemsPerPage:postsPerPage | orderBy:predicate:reverse | filter:s"
           total-items="totalPosts">
      <tr slide-toggle-row on="post">
        <td>{{::post.title}}</td>
        <td>{{::post.text}}</td>
      </tr>
      <tr>
        <td colspan="3">
          <div>
            <p>{{::post.id}}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto autem distinctio et
              facilis fugiat incidunt iusto labore nostrum optio perspiciatis praesentium, quam quis quo rerum. Illum
              laboriosam tempore voluptatum!</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

