<form name="loginForm" role="form" ng-submit="login()" novalidate>
	<legend>Login</legend>

	<div class="form-group">
		<input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required>
	</div>

  <ng-messages for="loginForm.email.$error" ng-if="loginForm.$submitted">
    <ng-message when="required" class="help-block">This field is required</ng-message>
  </ng-messages>

    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="password" ng-model="user.password" required>
    </div>

  <ng-messages for="loginForm.password.$error" ng-if="loginForm.$submitted">
    <ng-message when="required" class="help-block">This field is required</ng-message>
  </ng-messages>

  <button type="submit" class="btn btn-primary">Submit</button>

  <div class="row error-animation">
    <div class="alert alert-danger" ng-if="error">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Wrong email/password
    </div>
  </div>

</form>
